.banner {
    background-color: var(--yellow-color); 
    width: 100%;
    padding: clamp(1rem, 1vw, 5rem);
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    font-size: clamp(14px, 3vw, 30px);
}

.flex-row{
    display: flex; 
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.button-menu{
    width: clamp(200px, 80%, 600px);
    height: clamp(60px, 15vw, 120px);
    display: block;
    overflow: hidden;
}

.button-menu.button-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; 
    border: none;
} 

.bg-digital {background-image: url('/assets/portfolio/digitalpainting1.png');}
.bg-malutka {background-image: url('/assets/portfolio/malutkapig1.png');}
.bg-weird {background-image: url('/assets/portfolio/weird1.png');}
.bg-random { background-image: url('/assets/portfolio/random1.png')}
.bg-moral {background-image: url('/assets/portfolio/moral1.png')}
.bg-marvin {background-image: url('/assets/portfolio/marvin1.png')}
.bg-unibo {background-image: url('/assets/portfolio/unibo1.png')}



