{{ define "head" }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/png" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/styles.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
{{ end }}

{{ define "header" }}
<section class="banner flex-row">
  <span>{{ .Title }}</span>
</section>
{{ end }}

{{ define "navbar" }}
<header class="animate-in animate-short-top-bottom">
    <nav>
        <ul>
            <li><a class="grey" href="/">About</a></li>
            <li><a class="secondary" href="/portfolio">Portfolio</a></li>
            <li class="nav-item coming-soon-wrapper">
              <a class="yellow coming-soon" aria-disabled="true" href="javascript:void(0)">
                Store
              </a>
              <span class="coming-soon-tooltip">Coming soon</span>
            </li>
            <li><a class="pink-red" href="/order">Order</a></li>
        </ul>
    </nav>
</header>
{{ end }}

{{ define "footer" }}
<footer>
    <div class="grid">
      <img class="pink-bottom fade-in" src="/assets/index/pink-wave.png" data-footer-speed="0" alt="pink wave">
      <img class="pink-red-bottom fade-in parallax" data-footer-speed="0.25" src="/assets/index/bottom-pink-red-wave.png" alt="qpink red wave">
      <div class="xy-center icons-pt animate-in animate-short">
        <a href="https://www.instagram.com/bogrik.art" target="_blank" class="grey-bg align-text">
          <img class="bottom-icons" src="/assets/instagram.svg" alt="instagram link">
          <span>bogrik.art</span>
        </a>
        <a href="https://www.tiktok.com/@.bogrik" target="_blank" class="grey-bg align-text">
          <img class="bottom-icons" src="/assets/tiktok.svg" alt="tiktok link">
          <span>.bogrik</span>
        </a>
      </div>
      <img class="yellow-bottom fade-in parallax" data-footer-speed="0.5" src="/assets/index/yellow-wave-123.png" alt="yellow wave">
    </div>
</footer>
{{ end }}

{{ define "form" }}
<section class="section-contact">
  <form id="orderForm" action="/order" method="POST" enctype="multipart/form-data">
    <div class="flex">
        <div class="card">
            <div class="field">
                <label for="userEmailInput">Email</label>
                <input id="userEmailInput" class="indie-flower-regular" type="email" name="user_email" placeholder="user@example.com" required>
            </div>
            <div class="form-field-wrapper" aria-hidden="true">
                <label for="hpEmail">Email</label>
                <input id="hpEmail" type="text" name="email" tabindex="-1" autocomplete="off">
            </div>
            <div class="field">
                <label >Description</label>
                <textarea class="indie-flower-regular"  name="description" rows="4" placeholder="Write down your thoughts..." required></textarea>
            </div>
            <div class="field">
                <label >References (max 5MB)</label>
                <input type="file" name="references" accept="image/*" class="form-control" id="fileInput" multiple>
            </div>
            <div class="checkbox">
                <input  name="marketingConsent" type="checkbox" id="agreeCheck">
                <label for="agreeCheck">
                    I agree to receive marketing emails
                </label>
            </div>
            <button type="submit">Submit</button>
        </div>
    </div>
  </form>
</section>
{{ end }}

{{ define "scripts" }}
  {{ range .Scripts }}
    <script src="{{ . }}" defer></script>
  {{ end }}
{{ end }}