<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
    <link rel="stylesheet" href="/assets/css/photo-wall.css">
</head>
<body>
    {{ template "header" . }}
    {{ template "navbar" . }}
    <div class="photo-wall">
        <img src="/assets/digital-painting/digital-1.png" />
        <img src="/assets/digital-painting/digital-2.png" />
        <img src="/assets/digital-painting/digital-3.png" />
        <img src="/assets/digital-painting/digital-4.png" />
        <img src="/assets/digital-painting/digital-5.png" />
        <img src="/assets/digital-painting/digital-6.png" />
        <img src="/assets/digital-painting/digital-7.png" />
        <img src="/assets/digital-painting/digital-8.png" />
    
    </div>

    {{ template "navbar" . }}

  {{ template "footer" . }}
  {{ template "scripts" . }}
</body>
</html>

    


