<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/png" href="assets/favicon.png" />
    <link rel="stylesheet" href="/assets-compressed/styles.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
    <header class="animate-in animate-short-top-bottom">
        <nav>
            <ul>
                <li><a class="grey" href="/">About</a></li>
                <li><a class="secondary" href="/portfolio">Portfolio</a></li>
                <li><a class="yellow" href="/store">Store</a></li>
                <li><a class="pink-red" href="#">Order</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="grid">
          <img class="pink-top parallax" data-speed="0.6" data-direction="down" data-limit="30" src="/assets-compressed/index/pink-wave.png" alt="pink wave">
          <img class="parallax pink-red-top" data-speed="0.4" data-direction="down" data-limit="20" src="/assets-compressed/index/top-pink-red-wave.png" alt="pink red wave">
          <div class="xy-center logo-pb parallax animate-in animate-short" data-speed="1.0" data-direction="down" data-limit="30">
            <img class="grey-rounded-logo" src="/assets-compressed/index/bogrik-logo.png" alt="logo">
          </div>
          <img class="yellow" src="/assets-compressed/index/top-yellow-wave.png" alt="yellow wave" style="z-index:1;">
        </div>
    </main>
    <section class="section-weird">
      <div>
        <div class="image-column">
          <img src="/assets-compressed/index/weird-pic.png">
        </div>
        <div class="content-column">
          <div class="flex-horizontal">
            <a href="#" target="_blank">
              weird
            </a>
            <img src="/assets-compressed/index/vector.svg">
          </div>
          <p class="indie-flower-regular">
            I would like to invite you to check out my weird project. It is my main focus now,  so many updates and interesting things are coming soon!
          </p>
        </div>
      </div>
    </section>
    <section class="section-about">
      <span>about</span>
      <p class="indie-flower-regular">
        I'm an artist from Ukraine. I work in different techniques, but I mostly create digital art. I am not limited by a single style, and I enjoy experimenting with various techniques and materials to express ideas. 
        Art feels like magic to me. It helps me bring any idea to life and create whole new worlds.
        I have been making art for over 10 years. I graduated from the art lyceum in Kyiv, and now I'm studying illustration in Rotterdam.
        I'm open for illustration commissions and other creative projects
      </p>
    </section>
    <img src="/assets-compressed/index/about-bg.png">
    <section class="section-contact">
      <form id="orderForm" action="/order" method="POST" enctype="multipart/form-data">
        <div class="flex">
            <div class="card">
                <div class="field">
                    <label>Email</label>
                    <input class="indie-flower-regular" type="email" name="email" placeholder="user@example.com" required>
                </div>

                <div class="field">
                    <label >Description</label>
                    <textarea class="indie-flower-regular"  name="description" rows="4" placeholder="Write down your thoughts..." required></textarea>
                </div>

                <div class="field">
                    <label >References (max 5MB)</label>
                    <input type="file" name="references" accept="image/*" class="form-control" id="fileInput" multiple>
                </div>

                <div class="checkbox">
                    <input  name="marketingConsent" type="checkbox" id="agreeCheck">
                    <label for="agreeCheck">
                        I agree to receive marketing emails
                    </label>
                </div>

                <button type="submit">Submit</button>
            </div>
        </div>
      </form>
    </section>
    <footer>
        <div class="grid">
          <img class="pink-bottom" src="/assets-compressed/index/pink-wave.png" alt="pink wave">
          <img class="pink-red-bottom" src="/assets-compressed/index/bottom-pink-red-wave.png" alt="qpink red wave">
          <div class="xy-center icons-pt animate-in animate-short">
            <a href="https://www.instagram.com/bogrik.art" target="_blank" class="grey-bg align-text">
              <img class="bottom-icons" src="/assets-compressed/instagram.svg" alt="instagram link">
              <span>bogrik.art</span>
            </a>
            <a href="https://www.tiktok.com/@.bogrik" target="_blank" class="grey-bg align-text">
              <img class="bottom-icons" src="/assets-compressed/tiktok.svg" alt="tiktok link">
              <span>.bogrik</span>
            </a>
          </div>
          <img class="yellow" src="/assets-compressed/index/yellow-wave-123.png" alt="yellow wave" style="z-index:1;">
        </div>
    </footer>
<script src="/assets-compressed/footer-animation.js"></script>
<script src="/assets-compressed/parallax.js"></script>
<script src="/assets-compressed/form-submission.js"></script>
</body>
</html>