<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets-compressed/style.css">
    
</head>
<body>
        {{ template "navbar" . }}
      <div class="full-width-bar d-flex flex-column align-items-center">
        <img src="/assets-compressed/logo-smaller.png" alt="Logo" class="img-fluid logo-width logo-bg-primary"/>
      </div>


      <div class="d-flex justify-content-center my-4">
        <div class="bg-light-grey rounded-pill px-4 py-2 d-flex gap-1">
          <span class="text-main my-5 h1">Hi,  I'm Bogrik, I'm glad to see you here (~^ ^) ~ </span>
        </div>
      </div>

      <div class="d-flex justify-content-center my-4">
        <div class="bg-light-grey rounded-pill px-4 py-4 d-flex flex-column align-items-center gap-3">
          <span class="text-main h2">
            I am an artist from Ukraine. I work in different techniques, but I mostly create digital art. 
            I am not limited by a single style, and I enjoy experimenting with various techniques and materials to express ideas. 
            Art feels like magic to me. It helps me bring any idea to life and create whole new worlds.
            I have been making art for over 10 years. I graduated from the art lyceum in Kyiv, and now I am studying illustration in Rotterdam.
            I am open for illustration commissions and other creative projects
          </span>
        </div>
      </div>

      

      {{template "navbar" .}}

      

  {{ template "footer" . }}
</body>
</html>