<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
    <link rel="stylesheet" href="/assets/css/photo-wall.css">
    <link rel="stylesheet" href="/assets/css/portfolio.css">
</head>
<body>
    {{ template "navbar" . }}
    {{ template "header" . }}

    <div class="photo-wall">
        <img class="zoomable" src="/assets/malutka-pig/malutka-pig1.png" />
        <img class="zoomable" src="/assets/malutka-pig/malutka-pig2.png" />
        <img class="zoomable" src="/assets/malutka-pig/malutka-pig3.png" />
        <img class="zoomable" src="/assets/malutka-pig/malutka-pig4.png" />
        <img class="zoomable" src="/assets/malutka-pig/malutka-pig5.png" />
        <img class="zoomable" src="/assets/malutka-pig/malutka-pig6.png" />
        <img class="zoomable" src="/assets/malutka-pig/malutka-pig7.png" />
        <img class="zoomable" src="/assets/malutka-pig/malutka-pig8.png" />
        <img class="zoomable" src="/assets/malutka-pig/malutka-pig9.png" />
    </div>
    <div id="overlay">

        <img id="overlay-img" />
    </div>
    {{ template "navbar" . }}

  {{ template "footer" . }}
  {{ template "scripts" . }}
</body>
</html>