<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
    <link rel="stylesheet" href="/assets/css/photo-wall.css">
    <link rel="stylesheet" href="/assets/css/portfolio.css">
</head>
<body>
    {{ template "navbar" . }}
    {{ template "header" . }}

    <div class="photo-wall">
        <img class="zoomable" src="/assets/marvin/mavin1.png" />
        <img class="zoomable" src="/assets/marvin/mavin2.png" />
        <img class="zoomable" src="/assets/marvin/mavin3.png" />
        <img class="zoomable" src="/assets/marvin/mavin4.png" />

    </div>
    <div id="overlay">

        <img id="overlay-img" />
    </div>
    {{ template "navbar" . }}

  {{ template "footer" . }}
  {{ template "scripts" . }}
</body>
</html>