<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
</head>
<body>
    {{ template "header" . }}
    {{ template "navbar" . }}

    <div class="d-flex flex-column align-items-center mt-5 px-3" style="width: 100%;">
        <img src="/assets/marvin/mavin1.png" class="mb-5 img-fluid" />
        <img src="/assets/marvin/mavin2.png" class="mb-5 img-fluid" />
        <img src="/assets/marvin/mavin3.png" class="mb-5 img-fluid" />
        <img src="/assets/marvin/mavin4.png" class="mb-5 img-fluid" />

    </div>

    {{ template "navbar" . }}

  {{ template "footer" . }}
</body>
</html>