<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
</head>
<body>
    {{ template "header" . }}
    {{ template "navbar" . }}

    <div class="d-flex flex-column align-items-center mt-5 px-3" style="width: 100%;">
        <img src="/assets/moral/moral1.png" class="mb-5 img-fluid" />


        <img src="/assets/moral/moral2.png" class="img-fluid"/>
        <img src="/assets/moral/moral3.png" class="mb-5 img-fluid" />
        

        <img src="/assets/moral/moral4.png" class="img-fluid"/>
        <img src="/assets/moral/moral5.png" class="img-fluid"/>
        <img src="/assets/moral/moral6.png" class="mb-5 img-fluid" />
        <img src="/assets/moral/moral7.png" class="img-fluid"/>
        <img src="/assets/moral/moral8.png" class="mb-5 img-fluid" />
    </div>


    {{ template "navbar" . }}

  {{ template "footer" . }}
</body>
</html>