<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets-compressed/style.css">
</head>
<body>
    {{ template "header" . }}
    {{ template "navbar" . }}

    <div class="d-flex flex-column align-items-center mt-5 px-3" style="width: 100%;">
        <img src="/assets-compressed/moral/moral1.png" class="mb-5 img-fluid" />


        <img src="/assets-compressed/moral/moral2.png" class="img-fluid"/>
        <img src="/assets-compressed/moral/moral3.png" class="mb-5 img-fluid" />
        

        <img src="/assets-compressed/moral/moral4.png" class="img-fluid"/>
        <img src="/assets-compressed/moral/moral5.png" class="img-fluid"/>
        <img src="/assets-compressed/moral/moral6.png" class="mb-5 img-fluid" />
        <img src="/assets-compressed/moral/moral7.png" class="img-fluid"/>
        <img src="/assets-compressed/moral/moral8.png" class="mb-5 img-fluid" />
    </div>


    {{ template "navbar" . }}

  {{ template "footer" . }}
</body>
</html>