{{ define "navbar" }}
<div class="d-flex justify-content-center my-4">
  <div class="bg-light-grey rounded-55 px-4 py-4 d-flex gap-1">
    <a class="btn responsive-btn-text btn-outline-pink btn-pink rounded-55 px-4 font-size-40" href="/about">About</a>
    <a class="btn responsive-btn-text btn-outline-yellow btn-yellow rounded-55 px-4 font-size-40" href="/portfolio">Portfolio</a>
    <a class="btn responsive-btn-text btn-outline-red btn-red rounded-55 px-4 muted-button font-size-40" href="#">Store</a>
  </div>
</div>
{{ end }}