<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
    <link rel="stylesheet" href="/assets/css/portfolio.css"> 
</head>
<body>
    {{ template "navbar" . }}
    <section class="banner flex-row">
      <span>Portfolio</span>
    </section>

    <div class="flex-col">
      <a href="/weird" class="button-menu button-image bg-weird"> Weird</a>
      <a href="/digital-painting" class="button-menu button-image bg-digital">Digital Painting</a>
      <a href="/malutka-pig" class="button-menu button-image bg-malutka">Malutka Pig</a>
      <a href="/random" class="button-menu button-image bg-random">Random</a>
      <a href="/moral" class="button-menu button-image bg-moral">Moral</a>
      <a href="/marvin" class="button-menu button-image bg-marvin">Marvin</a>
      <a href="/unibo" class="button-menu button-image bg-unibo">Unibo</a>
    </div>

    {{ template "footer" . }}
    {{ template "scripts" . }}
</body>
</html>