<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
    <link rel="stylesheet" href="/assets-compressed/portfolio.css"> 
</head>
<body>
    {{ template "navbar" . }}
    <section class="banner flex-row">Portfolio</section>

    <div class="flex-col">
      <a href="/weird" class="button-menu button-image bg-weird"></a>
      <a href="/digital-painting" class="button-menu button-image bg-digital"></a>
      <a href="/malutka-pig" class="button-menu button-image bg-malutka"></a>
      <a href="/random" class="button-menu button-image bg-random"></a>
      <a href="/moral" class="button-menu button-image bg-moral"></a>
      <a href="/marvin" class="button-menu button-image bg-marvin"></a>
      <a href="/unibo" class="button-menu button-image bg-unibo"></a>
    </div>

    {{ template "footer" . }}
<script src="/assets-compressed/footer-animation.js"></script>
<script src="/assets-compressed/parallax.js"></script>
</body>
</html>