<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
    <link rel="stylesheet" href="/assets/css/photo-wall.css">
</head>
<body>
    {{ template "header" . }}
    {{ template "navbar" . }}

    <div class="photo-wall">
        <img src="/assets/random/random1.png" />
        <img src="/assets/random/random12.png" />
        <img src="/assets/random/random13.png" />
        <img src="/assets/random/random14.png" />
        <img src="/assets/random/random15.png" />
        <img src="/assets/random/random16.png" />
        <img src="/assets/random/random17.png" />
        <img src="/assets/random/random18.png" />
        <img src="/assets/random/random19.png" />
        <img src="/assets/random/random110.png" />
        <img src="/assets/random/random111.png" />
        <img src="/assets/random/random113.png" />
        <img src="/assets/random/random114.png" />
        <img src="/assets/random/random115.png" />
        <img src="/assets/random/random116.png" />
        <img src="/assets/random/random117.png" />
        <img src="/assets/random/random118.png" />
    </div>






    {{ template "navbar" . }}

  {{ template "footer" . }}
</body>
</html>