<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
    <link rel="stylesheet" href="/assets/css/photo-wall.css">
</head>
<body>
    {{ template "navbar" . }}

    <div class="photo-wall">
        <img src="/assets/unibo/unibo1.png" />
        <img src="/assets/unibo/unibo2.png" />
        <img src="/assets/unibo/unibo3.png" />
        <img src="/assets/unibo/unibo4.png" />
        <img src="/assets/unibo/unibo5.png" />
        <img src="/assets/unibo/unibo6.png" />
        <img src="/assets/unibo/unibo7.png" />
        <img src="/assets/unibo/unibo8.png" />
        <img src="/assets/unibo/unibo9.png" />
        <img src="/assets/unibo/unibo10.png" />
        <img src="/assets/unibo/unibo11.png" />
        <img src="/assets/unibo/unibo12.png" />
        <img src="/assets/unibo/unibo13.png" />
        <img src="/assets/unibo/unibo14.png" />
        <img src="/assets/unibo/unibo15.png" />
        <img src="/assets/unibo/unibo16.png" />
        <img src="/assets/unibo/unibo17.png" />
        <img src="/assets/unibo/unibo18.png" />
        <img src="/assets/unibo/unibo19.png" />
        <img src="/assets/unibo/unibo20.png" />
        <img src="/assets/unibo/unibo21.png" />
        <img src="/assets/unibo/unibo22.png" />
    </div>


    {{ template "navbar" . }}

  {{ template "footer" . }}
</body>
</html>