<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" . }}
    <link rel="stylesheet" href="/assets/css/photo-wall.css">
</head>
<body>
    {{ template "navbar" . }}
    <div class="photo-wall">
        
        <img src="/assets/weird/weird1.png" />
        <img src="/assets/weird/weird12.png" />
        <img src="/assets/weird/weird13.png" />
        <img src="/assets/weird/weird14.png" />
        <img src="/assets/weird/weird15.png" />
        

    </div>
    {{ template "navbar" . }}

  {{ template "footer" . }}
  {{ template "scripts" . }}
</body>
</html>