:root{
  --primary-color: #FF8DB7;
  --secondary-color: #FFC0D7;
  --yellow-color: #FFC300;
  --red-color: #FF7474;
  --grey-color: #A29298;
  --light-grey-color: #FFF2F6;
  --white-color: #FFFFFF;
  --pink-red-color: #FF8DA0;
}

.bg-pr{
  background-color: var(--pink-red-color);
}
.bg-pink{
  background-color: var(--primary-color);
}
.bg-y{
  background-color: var(--yellow-color);
}
.bg-light-grey{
  background-color: var(--light-grey-color);
}
.bg-g{
  background-color: var(--grey-color);
}

.pr-5{
  padding-right: 5.5rem; 
}

* {
  font-family: 'Luckiest Guy', cursive;
}

.trim-font-gap{
  margin-bottom: -1rem;
}

body {
  background-color: var(--secondary-color)
}

.text-main { 
  color: var(--primary-color);
}
.text-secondary{
  color: var(--secondary-color);
}
.text-y{
  color: var(--yellow-color);
}
.text-r{
  color: var(--red-color)
}
.text-g{
  color: var(--grey-color);
}
.text-light-grey{
  color: var(--light-grey-color);
}
.text-pr{
  color: var(--pink-red-color);
}


.font-size-48{
  font-size: 48px;
}

.font-size-40{
  font-size: 40px;
}

.font-size-96{
  font-size: 96px;
}

.w-70{
  width: 70%;
}

.portfolio-section-title {
  color: var(--primary-color);
  font-weight: 400;
  font-size: clamp(2rem, 6vw, 5rem); /* auto-scaling font */
  line-height: 1.2;
}
.portfolio-subtitle {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 600;
}

index-text {
  font-size: clamp(2rem, 5vw, 3rem);
}

.btn-outline-pink {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.btn-outline-pink:hover{
  color: var(--white-color);
}

.btn-outline-yellow {
  background-color: var(--yellow-color);
  color: var(--white-color);
}
.btn-outline-yellow:hover{
  color: var(--white-color);
}

.btn-outline-red {
  background-color: var(--red-color);
  color: var(--white-color);
}
.btn-outline-red:hover{
  color: var(--white-color);
}

.full-width-bar{
  width: 100%;
}

.wave-img {
  width: 100%;
  display: block
}

.mb-ngtv-2{
  margin-bottom: 1vh;
}
.about-text{
  font-size: clamp(2rem, 6vw, 5rem);
  color: var(--primary-color)
}
.logo-width{
  width: 500px; 
  height: auto;
}
.logo-bg-primary{
  background-color: var(--primary-color);
  border-radius:12%;
}

@media (max-width: 768px) {
  .logo-width {
    max-width: 400px;
  }
  .mb-ngtv-2{
    margin-bottom: 1vh;
}
  
}
@media (max-width: 576px) {
  .logo-width {
    max-width: 300px;
  }
  .mb-ngtv-2{
    margin-bottom: 1vh;
}
}
@media (max-width: 399px) {
  .logo-width {
    max-width: 150px;
  }
}

.gap-1{
  gap: 1rem;
}


.rounded-55{
  border-radius: 55px;
}


.btn-pink{
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 10px 20px;
}
.btn-yellow{
  color: var(--white-color);
  background-color: var(--yellow-color);
  padding: 10px 20px;
}
.btn-red{
  color: var(--white-color);
  background-color: var(--red-color);
  padding: 10px 20px;
}

.muted-button {
  background-color: var(--red-color);
  color: var(--white-color);
  border: 2px;
  padding: 10px 20px;
  cursor: not-allowed;
  position: relative;
}
.muted-button:hover::after {
  content: "Coming soon";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  margin-top: 6px;
  font-size: 14px;
  z-index: 1;
}


.tall-btn {
  
  aspect-ratio: 4 / 1;
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-btn-text {
    font-size: clamp(1rem, 2.50vw, 4.5rem); /* Adjust as needed */
    font-weight: 600;
    text-align: center;
    white-space: normal; /* allow wrapping on small screens */
}

@media (max-width: 768px) {
    .btn-lg {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }

.mb-8 {
  margin-bottom: 8rem;
}
.mt-8 {
  margin-top: 8rem;
}

@media (max-width: 1200px) {
  .mb-8 {
    margin-bottom: 6rem;
  }
}

@media (max-width: 992px) {
  .mb-8 {
    margin-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .mb-8 {
    margin-bottom: 4rem;
  }
}

@media (max-width: 576px) {
  .mb-8 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 400px) {
  .mb-8 {
    margin-bottom: 2rem;
  }
}


.mr-4-5{
  margin-right: 40px;
}

.w-45{
  width:45%
}

.rounded-footer-logo{
  border-radius: 40px, 55
}

.responsive-icon {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  /* Smaller screens */
  @media (max-width: 768px) {
    .responsive-icon {
      width: 50px;
      height: 50px;
    }
  }

  /* Very small screens */
  @media (max-width: 400px) {
    .responsive-icon {
      width: 30px;
      height: 30px;
    }
  }


.btn-image { 
  background-position: center center; /* horizontal and vertical center */
  background-size: cover;            /* fill the container */
  background-repeat: no-repeat;      /* don't repeat the image */
}
.bg-digital  { background-image: url('/assets-compressed/digitalpainting1.png'); }
.bg-malutka  { background-image: url('/assets-compressed/malutkapig1.png'); }
.bg-weird  { background-image: url('/assets-compressed/weird1.png'); }
.bg-random  { background-image: url('/assets-compressed/random1.png'); }
.bg-moral  { background-image: url('/assets-compressed/moral1.png'); }

.bg-marvin  { background-image: url('/assets-compressed/marvin1.png'); }
.bg-unibo  { background-image: url('/assets-compressed/unibo1.png'); }